<div class="col-md-8">
  <div class="alert alert-warning" role="alert"
    ng-show="loading">
    <strong>Loading data from the server...</strong>
  </div>

  <table class="table table-condensed table-bordered"
    ng-controller="ResultTableCtrl">
    <tr>
      <th ng-repeat="header in headers">
        {{header.name}}
      </th>
    </tr>
    <tr ng-repeat="row in rows">
      <td ng-repeat="column in row">
        {{column.data.value}}
      </td>
    </tr>
  </table>
</div>
<div class="col-md-4">
  <div ng-repeat="branch in branches"
       ng-controller="BranchCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">
        Find
        <select ng-model="obj.schema" ng-options="s.name as
          s.meta.plural_upper for s in visibleSchemata">
          <option value="">Any entities</option>
        </select>
      </div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="s in visibleSchemata">{{s.label}}</li>
        </ul>
      </div>
    </div>
  </div>  
</div>
